<html lang="zh">
<head>
    <title>WebDevTools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="Cache-Control" content="max-age=43200"/>
    <meta name="keywords" content="json, json viewer, json在线查看, base64解码, base64编码"/>
    <meta name="description"
          content="JSON Viewer - Convert JSON Strings to a Friendly Readable Format, base64编码, base64解码, web develop tools"/>

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link href="../framework/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body role="document">
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html" target="_blank">
                <span class="glyphicon glyphicon-road"></span>
                WebDevTools</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../index.html"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Hello, Coders!</h1>
        <p>This is a feedback channel for many simple online-tools website.
            You can tell me what tools you really need.
            Or if you find some bugs for WebDevTools, just describe the detail and commit it. Many thanks for your kind!</p>
        <p><a href="http://aboutcoder.com/关于我/" target="_blank" class="btn btn-primary btn-lg" role="button">Who I am »</a></p>
    </div>
    <div class="row">

    </div>
</div>
<div class="container">
    <div class="row" style="padding-left: 15px;padding-right: 15px;">
        <div id="disqus_thread"></div>
    </div>
</div>
<div class="container" style="margin-top: 15px;">
    <div class="footer" style="border-top: 1px solid #eee;padding-top: 6px;">
        <p class="copyright"><a href="http://tools.aboutcoder.com/">© AboutCoder 2014</a></p>
    </div>
</div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'tools-aboutcoder-com'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<!--站长统计 BEGIN-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1252898702'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1252898702%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
<!--站长统计 END-->
</body>
</html>