<html lang="zh">
<head>
    <title>WebDevTools</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta http-equiv="Cache-Control" content="max-age=43200"/>
    <meta name="keywords" content="json, json viewer, json在线查看, base64解码, base64编码"/>
    <meta name="description"
          content="JSON Viewer - Convert JSON Strings to a Friendly Readable Format, base64编码, base64解码, web develop tools"/>

    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link href="../framework/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body role="document">
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="../index.html" target="_blank">
                <span class="glyphicon glyphicon-road"></span>
                WebDevTools</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../index.html"><span class="glyphicon glyphicon-chevron-left"></span> Back</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Hello, Coders!</h1>
        <p>This is a feedback channel for many simple online-tools website.
            You can tell me what tools you really need.
            Or if you find some bugs for WebDevTools, just describe the detail and commit it. Many thanks for your kind!</p>
        <p><a href="http://aboutcoder.com/关于我/" target="_blank" class="btn btn-primary btn-lg" role="button">Who I am »</a></p>
    </div>
    <div class="row">

    </div>
</div>
<div class="container">
    <div class="row" style="padding-left: 15px;padding-right: 15px;">

        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="WebDevTools Feedback" data-title="WebDevTools Feedback" data-url="http://tools.aboutcoder.com/views/feedback.html"></div>
        <!-- 多说评论框 end -->
        <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
        <script type="text/javascript">
            var duoshuoQuery = {short_name:"aboutcoder"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                        || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
        </script>
        <!-- 多说公共JS代码 end -->

    </div>
</div>
<div class="container" style="margin-top: 15px;">
    <div class="footer" style="border-top: 1px solid #eee;padding-top: 6px;">
        <p class="copyright"><a href="http://tools.aboutcoder.com/" id="a-copyright-text">
            <!--版本声明信息-->
        </a></p>
    </div>
</div>

<script src="../framework/jquery-1.11.1.min.js"></script>
<script src="../js/common.js"></script>
<script type="text/javascript">
    get_copyright_date();
</script>
<!--站长统计 BEGIN-->
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1252898702'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1252898702%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
<!--站长统计 END-->
</body>
</html>